/* Media queries is used to make website responsive */
body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 5em;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
}
nav{
    font-size: 1.5em;
}

ul,li{
    display: inline;
    margin: 0;
    padding: 0;
} 

@media (min-width: 500px){
    h1{
        color: red;
    }
}

@media(max-width: 300px){
    h1{
        color: saddlebrown;
    }
}

@media(orientation: landscape){
    body{
        background-color: silver;
    }
}